@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurant Finder</h1>
<p>@Html.ActionLink("See all cuisine types", "Index", "Cuisines")</p>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>